main {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
} 

#about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about-me-text {
  width: 68%;
}

#skills {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
}

.skillsbox {
  background-color: #f2dedc;
  width: 20%;
  padding: 2%;
  border-radius: 10%;
}

.star {
  width: 15px;
  height: 15px;
  object-fit: cover;
  margin: 0px;
  margin-right: 5px;
}

.bulletpoints {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

.bulletpoints li {
  padding-left: 2rem;
  background-image: url("../media/star.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

span {
  opacity: 60%;
}

.date {
  opacity: 60%;
  margin-bottom: 0px;
  text-align: left;
}

.block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 4%;
  margin-right: 4%;
}

/* Extra small screens */
@media only screen and (max-width: 480px) {
    #about-me-text p {
        font-size: 0.9rem;
    }

    .skillsbox {
        font-size: 0.8rem;
    }

    #education-text, .block {
      font-size: 0.9rem;
    }
}

@media only screen and (max-width: 768px) {
  main {
    width: 100%;
  }

  #about-me {
    flex-direction: column;
    text-align: center;
  }

  #skills {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skillsbox {
    width: 60%;
    border-radius: 10%;
  }

  .block {
    text-align: left;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 0px;
    margin-right: 10%;
  }

  .block p{
    margin-bottom: 0px;
  }
}
