main {
  display: flex;
  width: 80vw;
  height: 50vh;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#external-links {
  justify-content: space-evenly;
}

#intro {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

#intro h2{
  margin-bottom: 0px;
}

#intro-text {
  width: 65%;
}

/* contact me form */
#contact {
  margin-top: 2%;
}

#text {
  text-align: center;
}

label {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

input[type=tel], input[type=email], input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
}

input[placeholder=Name] {
  text-align: left;
}

input[type=submit] {
  background-color: var(--purple-accent);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10%;
}

input[type=submit]:hover {
  font-weight: 700;
}

.container {
  border-radius: 5px;
  background-color: white;
}

span {
  background-color: var(--light-purple);
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: 700;
}
 
/* responsive design */
@media only screen and (max-width: 1187px) {
  #intro h2 {
    font-size: 35px;
    text-align: center;
  }

  main {
    width: 90vw;
  }

  #intro {
    width: 100%;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }

  #external-links {
    flex-direction: column;
  }

  #intro p {
    text-align: center;
  }
}
