main {
  max-width: 70vw;
  height: 60vh;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

span {
  color: var(--purple-accent);
}

.wrapper {
/*  display: flex;*/
}

.description {
  text-align: left;
  margin-left: 10%;
  margin-top: 0px;
  margin-right: 10%;
}

h4 { 
  text-align: left; 
  margin-left: 10%; 
  margin-bottom: 1%;
}

p {
  margin-top: 0px;
}

.button {
  margin-bottom: 1%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.block {
  display: flex;
  align-items: left;
  margin-left: 10%;
  gap: 10px;
}

a:hover {
  font-weight: 400;
}

.description .proj-link {
    font-weight: 1000;
    color: var(--purple-accent);
}

.description .proj-link:hover {
  font-weight: 400;
}

#link:hover {
  font-weight: 700;
}

.star {
  width: 15px;
  height: 15px;
  object-fit: cover;
  margin: 0px;
  margin-right: 5px;
}

.image {
  width: 300px;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
}

.webcrack-image {
  width: 300px;
}

.kkoom {
  width: 500px;
  margin: 3%;
}

.final-product {
  width: 90%;
  margin: 3%;
  margin-left: 9%;
}

object {
  width: 90%;
  height: 200%;
  margin-left: 9%;
}

@media only screen and (max-width: 900px) {
  h4 {
    margin-bottom: 3%;
  }
  .button {
    margin-bottom: 3%;
  }
  video {
    width: 80%;
    height: 50%;
  }
  .grid {
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
